<main class="mt-3 mb-5">
    <div class="container-fluid text-center">
        @if (User.Role == "Admin")
        {
        <h2>Hello, Administrator @User.Username !</h2>
        }
        @else
        {
        <h2>Hello, @User.Username !</h2>
        }
    </div>
    <hr class="hr-2 bg-dark" />
    <div class="container-fluid">
        <div class="row justify-content-around mb-3">
            <div class="col-md-3 border-panda m-1 p-1">
                @foreach( var pending in Model.Pending.ToList())
                {
                <div class="row m-1">

                    <div class="col-md-8">
                        <span class="text-panda">@pending.Description</span>
                    </div>
                    <div class="col-md-4">
                        <a href="/packages/details?id=@pending.Id" class="btn bg-panda text-white float-right">Details</a>
                    </div>
                </div>
                }
            </div>

            <div class="col-md-3 border-panda m-1 p-1">
                @foreach( var shipped in Model.Shipped.ToList())
                {
                <div class="row m-1">
                    <div class="col-md-8">
                        <span class="text-panda">@shipped.Description</span>
                    </div>
                    <div class="col-md-4">
                        <a href="/packages/details?id=@shipped.Id" class="btn bg-panda text-white float-right">Details</a>
                    </div>
                </div>
                }
            </div>

            <div class="col-md-3 border-panda m-1 p-1">
                @foreach( var delivered in Model.Delivered.ToList())
                {
                <div class="row m-1">
                    <div class="col-md-8">
                        <span class="text-panda">@delivered.Description</span>
                    </div>
                    <div class="col-md-4">
                        <a href="/receipts/aquired?id=@delivered.Id" class="btn bg-panda text-white float-right">Aquired</a>
                    </div>
                </div>
                }
            </div>


        </div>

    </div>
</main>